{% extends 'base.html' %}

{% block content %}
	<div class="jumbotron title" align='center'>
		<h2>Welcome to Doghustle</h2>
		<p>'A Single Page Resume' creating app</p>
		<p><i>made for geeks by a geek</i></p>
	</div>
	<hr>
	<div align="center">
		<h4>Doghustle intends to create a new resume standard for programmers</h4>
		<p class="about">
			This app uses your LinkedIn and GitHub/Bitbucket data and generates an awesome looking resume infographic, which will not only
			make your future employer go wow, but also lets you focus on what you love : CODING !!!
		</p>		
		<br>
		<a href="/login/linkedin/" class="btn btn-primary btn-lg">Get Started</a>
		<br><br>
		<p>
			P.S - The source code of this app is open source and can be found <a style="color:red;" href="https://github.com/vijayestodos/Doghustle">here</a>. Feel free to add in suggestions and comment <a style="color:red;" href="https://github.com/vijayestodos/Doghustle/issues">here</a>. And also .. may the force be with you.
		</p>
	</div>
	<br><br><br>
{% endblock %}